.trigger {
    padding: 0 24px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(138, 30, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.content {
    margin: 24px 16px;
    padding: 24px;
    min-height: calc(100vh - 115px)
}

.box {
    padding: 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}
.search-box{
    max-width: 600px;
}

.filter {
    font-size: 20px;
    position: fixed;
    max-width: 195px;
    padding: 10px;
}

.category {
    padding: 0 20px
}

.custom-divider {
    margin: 0
}

.icon-style {
    padding-right: 10px;
    font-size: 25px
}

.card-app:hover {
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}